.h1 {
    display: flex;
    width: 100%;
    padding: 5px;
    font-size: 22px;
    font-weight: 900;
    justify-content: center; 
    align-items: center;
}
.p1 {
    display: flex;
    padding: 5px;
    justify-content: center; 
    align-items: center;
}
.p2 {
    display: flex;
    padding: 5px 0px 0px 0px;
    text-align: left; 
}
.p3 {
    padding: 5px;
    font-size: 18px;
    text-align: left; 
    position: absolute;
}
.footermenu{
    text-decoration: underline;
}