.buttoncontainer {
    /* TODO: working on this for the futute */
    display: flex;
    width: 100%;
    padding: 5px;
    /* Center horizontally */
    justify-content: center; 
    align-items: center;
}