.h1 {
    display: flex;
    width: 100%;
    padding: 5px;
    font-size: 22px;
    font-weight: 900;
    justify-content: center; 
    align-items: center;
}
.footermenu{
    text-decoration: underline;
}